@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes bounce-left {
  60% {
     opacity: 1;
     transform: translateX(30px);
  }
  80% {
     transform: translateX(-10px);
  }
  100% {
     transform: translateX(0);
  }
}

.animated {
  visibility: hidden;
  animation-delay: 0.5s;
}
