html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//colors
$white: #ffffff;
$black: #000000;
$gray: #f9f9f9;
$gray-dark: #555555;
$yellow: #ffdd00;
$blue: #0088CC;

//grid


body {
  font-family: 'Kelson';
}
