/* Your styles (and Sass) start here */
body {
  font-family: 'Kelson'; }

@font-face {
  font-family: "Kelson";
  src: url("../fonts/kelson_light.woff2") format("woff2"), url("../fonts/kelson_light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Kelson";
  src: url("../fonts/kelson.woff2") format("woff2"), url("../fonts/kelson.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Kelson";
  src: url("../fonts/kelson_bold.woff2") format("woff2"), url("../fonts/kelson_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.page__inner {
  height: 1000px;
  background-color: #f9f9f9; }

.container, .page-header__inner, .page-calc__inner, .page-main__inner {
  width: 100%;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  border: 1px solid green; }

.page-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 50px; }

.page-main {
  height: 100%;
  text-align: center;
  background-image: url("../images/content/bg.svg");
  background-repeat: no-repeat;
  background-size: 1540px auto;
  background-position: -10px 0; }
  .page-main__title {
    margin-top: 100px; }
  .page-main__icons {
    border: 1px solid red;
    margin-top: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .page-main__icon {
    position: relative;
    display: block;
    margin-right: 30px;
    border: 1px solid green;
    transform: scale(0.8); }
  .page-main__icon-1 {
    width: 142px;
    height: 162px;
    background-image: url("../images/content/top-box-1.png"); }
  .page-main__icon-2 {
    top: -85px;
    width: 293px;
    height: 248px;
    background-image: url("../images/content/top-box-2.png"); }
  .page-main__icon-3 {
    top: -85px;
    width: 136px;
    height: 240px;
    background-image: url("../images/content/top-box-3.png"); }
  .page-main__bus {
    position: relative;
    transform: translate3d(-1000px, 200px, 0);
    display: block;
    width: 148px;
    height: 74px;
    background-image: url("../images/svg/bus.svg");
    background-repeat: no-repeat;
    animation-name: move-bus;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
  .page-main__label {
    position: relative;
    transform: translate3d(225px, -38px, 0);
    display: block;
    width: 348px;
    height: 74px;
    opacity: 0;
    visibility: hidden;
    background-image: url("../images/svg/bus-label.svg");
    background-repeat: no-repeat;
    animation: fade-in;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards; }

@keyframes move-bus {
  100% {
    transform: translate3d(68px, 51px, 0); } }

@keyframes fade-in {
  100% {
    opacity: 1;
    visibility: visible; } }
