.detail {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4vw;
  // margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  text-align: left;

  @include media-breakpoint-up(md) {
    margin: 0;
    display: inline-block;
  }

  &::before {
    content: "";
    margin-right: 2vw;
    display: inline-block;
    background-repeat: no-repeat;

      @include media-breakpoint-up(md) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
  }

  span {
    display: inline-block;
    font-weight: 300;
  }

  &--bus {
    &::before {
      width: 16vw;
      height: 8vw;
      background-image: url("../images/svg/bus-sm.svg");
    }

    span {
      @include media-breakpoint-up(md) {
        margin-left: 90px;
      }
    }
  }

  &--time {
    &::before {
      width: 13vw;
      height: 13vw;
      background-image: url("../images/svg/time.svg");
    }

    span {
      @include media-breakpoint-up(md) {
        margin-left: 65px;
      }
    }
  }

  &--location {
    &::before {
      left: -25px;
      width: 18vw;
      height: 13vw;
      background-image: url("../images/svg/mark.svg");
    }

    span {
      @include media-breakpoint-up(md) {
        margin-left: 70px;
      }
    }
  }

  &--sms {
    &::before {
      width: 10vw;
      height: 11vw;
      background-image: url("../images/svg/phone.svg");
    }

    span {
      @include media-breakpoint-up(md) {
        margin-left: 50px;
      }
    }
  }
}
