.form {
  margin-top: 1.2vw;
  margin-left: 5vw;
  padding: 1.7vw;
  background-color: $white;
  border-top: 3px solid $yellow;
  border-radius: 0.7vw;
  box-shadow: 0 0 30px rgba($black, 0.2);

  &-main {
    padding-right: 0.6vw;
    padding-left: 0.6vw;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #ccc;
  }

  &-title {
    margin-top: 0;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &-btn {
    margin-top: 10px;
    width: 100%;
    padding: 15px 8px;
    font-size: 2vw;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: lighten($yellow, 10%);
    }
  }

  &-footer {
    padding-top: 17px;
    text-align: center;
  }

  &-label {
    margin-bottom: 1vw;
    display: block;
    font-size: 17px;
    color: $blue;
    text-transform: uppercase;
  }

  &-cost {
    font-size: 28px;
    color: $blue;
  }

  label {
    display: block;
    // font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: $gray-dark;
  }
}
