.form {
  margin-top: 1.2vw;
  margin-left: 3vw;
  padding: 1.7vw;
  display: none;
  background-color: $white;
  border-top: 3px solid $yellow;
  border-radius: 0.7vw;
  box-shadow: 0 0 30px rgba($black, 0.2);

  @include media-breakpoint-up(lg) {
    display: block;
  }

  @include media-breakpoint-up(xxl) {
    border-top-width: 0.2vw;
  }

  &-main {
    padding-right: 0.6vw;
    padding-left: 0.6vw;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #ccc;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;

    @include media-breakpoint-up(xxl) {
      margin-bottom: 1vw;
      font-size: 1.15vw;
    }
  }

  &-btn {
    margin-top: 10px;
    width: 100%;
    padding: 15px 8px;
    font-size: 2vw;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    @include media-breakpoint-up(xxl) {
      margin-top: 0.55vw;
      padding: 0.8vw 0.45vw;
      border-radius: 0.3vw;
    }

    &:hover {
      background-color: lighten($yellow, 10%);
    }
  }

  &-footer {
    padding-top: 17px;
    text-align: center;

    @include media-breakpoint-up(xxl) {
      padding-top: 1vw;
    }
  }

  &-label {
    margin-bottom: 1vw;
    display: block;
    font-family: $secondary-font-family;
    font-size: 17px;
    color: $blue;
    text-transform: uppercase;

    @include media-breakpoint-up(xxl) {
      font-size: 0.95vw;
    }
  }

  &-cost {
    font-family: $secondary-font-family;
    font-size: 28px;
    color: $blue;

    @include media-breakpoint-up(xxl) {
      font-size: 1.5vw;
    }
  }

  label {
    display: block;
    font-family: $secondary-font-family;
    font-size: 14px;
    line-height: 22px;
    color: $gray-dark;

    @include media-breakpoint-up(xxl) {
      font-size: 0.75vw;
      line-height: 1.2vw;
    }
  }
}
