.page-main {
  padding-top: 59vw;
  padding-bottom: 40vw;
  text-align: center;
  background-image: url("../images/content/bg-mobile.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 500px;
    background-image: url("../images/content/bg.svg");
    background-size: 1540px auto;
    background-position: -35px 0;
  }

  &-bus {
    display: none;

    @include media-breakpoint-up(md) {
      position: relative;
      transform: translate3d(-1000px, 200px, 0);
      display: block;
      width: 148px;
      height: 74px;
      background-image: url('../images/svg/bus.svg');
      background-repeat: no-repeat;

      animation-name: move-bus;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
  }

  &-label {
    display: none;

    @include media-breakpoint-up(md) {
      position: relative;
      transform: translate3d(225px, -38px, 0);
      display: block;
      width: 348px;
      height: 74px;
      opacity: 0;
      visibility: hidden;
      background-image: url('../images/svg/bus-label.svg');
      background-repeat: no-repeat;

      animation: fade-in;
      animation-duration: 0.5s;
      animation-delay: 3s;
      animation-fill-mode: forwards;
    }
  }

  &-title {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 5vw;
    line-height: 8vw;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      margin-top: 340px;
      margin-bottom: 45px;
      font-size: 45px;
    }

    br {
      // display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  &-text {
    margin-top: 18vw;
    margin-bottom: 5vw;
    font-size: 5vw;

    @include media-breakpoint-up(md) {
      font-size: 21px;
    }
  }

  &-button {
    padding: 3vw 6vw;
    font-size: 6vw;
    background-color: $yellow;
    border: none;
    border-radius: 2vw;
    box-shadow: 0 0 30px rgba($black, 0.2);
    cursor: pointer;

    @include media-breakpoint-up(md) {
      padding: 40px 70px;
      font-size: 55px;
      border-radius: 20px;
    }

    &:hover {
      background-color: lighten($yellow, 10%);
    }
  }
}

@keyframes move-bus {
  100% {
    transform: translate3d(68px, 51px, 0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
