.page-header {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: $white;

  &-inner {
    @extend .container;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
